* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 500vw;
    /* min-height: 100%; */
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background-color: #ffeb3b;
    transition: background 2s;
}

body[data-character="ragirl"] {
    background-color: #f44e18;
}

.world {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;   /* Not support IE */
}

.house {
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .8);
}

.wall__side {
    width: 1000vw;
    text-align: center;
    font-size: 5rem;
    color: #555;
    background-color: #f3f3f3;
}

.wall__left {
    transform: rotateY(90deg) translateZ(-500vw);
}

.wall__right {
    transform: rotateY(90deg) translateZ(-400vw);
} 

.wall__front-a { transform: translateZ(300vw); }
.wall__front-b { transform: translateZ(50vw); }
.wall__front-c { transform: translateZ(-200vw); }
.wall__front-d { transform: translateZ(-500vw); }

.wall__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wall__title {
    font-size: 5rem;
}

.progress__bar-container {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5px;
    background-color: #000;
}

.progress__bar {
    z-index: 60;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: red;
}

/* Character */
.character {
    position: absolute;
    left: 12%;
    bottom: 5%;
    width: 10vw;
    height: 15.58vw;
    transform-style: preserve-3d;
}

.character[data-direction="forward"] { transform: rotateY(180deg); }
.character[data-direction="backward"] { transform: rotateY(0deg); }
.character[data-direction="left"] { transform: rotateY(-90deg); }
.character[data-direction="right"] { transform: rotateY(90deg); }

.character-face__con {
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}

.character-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.character-face.face-back {
    transform: rotateY(180deg);
}

.character-head {
    top: 0;
    left: calc(42 / 856 * 100%);
    width: calc(770 / 856 * 100%);
    height: calc(648 / 856 * 100%);
    transform-origin: center bottom;
    animation: ani-head .6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
}
.character-head__face.face-front { background-image: url('../images/ilbuni_head_front.png');}
.character-head__face.face-back { background-image: url('../images/ilbuni_head_back.png');}

.character-torso {
    top: calc(647 / 1334 * 100%);
    left: calc(208 / 856 * 100%);
    width: calc(428 / 856 * 100%);
    height: calc(385 / 1334 * 100%);
    transform-origin: center center;
}
.character-torso__face.face-front { background-image: url('../images/ilbuni_body_front.png');}
.character-torso__face.face-back { background-image: url('../images/ilbuni_body_back.png');}

.character-arm__right {
    top: calc(648 / 1334 * 100%);
    left: 0;
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: right top;
}
.character-arm__right .face-front { background-image: url('../images/ilbuni_arm_0.png'); }
.character-arm__right .face-back { background-image: url('../images/ilbuni_arm_1.png'); }

.character-arm__left {
    top: calc(648 / 1334 * 100%);
    right: 0;
    width: calc(244 / 856 * 100%);
    height: calc(307 / 1334 * 100%);
    transform-origin: right top;
}
.character-arm__left .face-front { background-image: url('../images/ilbuni_arm_1.png'); }
.character-arm__left .face-back { background-image: url('../images/ilbuni_arm_0.png'); }

.character-leg__right {
    top: calc(1031 / 1334 * 100%);
    left: calc(200 / 856 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg__right .face-front { background-image: url('../images/ilbuni_leg_0.png'); }
.character-leg__right .face-back { background-image: url('../images/ilbuni_leg_1.png'); }

.character-leg__left {
    top: calc(1031 / 1334 * 100%);
    right: calc(200 / 856 * 100%);
    width: calc(230 /  856 * 100%);
    height: calc(300 / 1334 * 100%);
    transform-origin: center top;
}
.character-leg__left .face-front { background-image: url('../images/ilbuni_leg_1.png'); }
.character-leg__left .face-back { background-image: url('../images/ilbuni_leg_0.png'); }

.character.running .character-arm__left,
.character.running .character-leg__right {
    animation: ani-arm-leg .3s infinite alternate linear;
}

.character.running .character-arm__right,
.character.running .character-leg__left {
    animation: ani-arm-leg .3s infinite alternate-reverse linear;
}

/* ragirl */
body[data-character='ragirl'] .character {
    width: 12vw;
    height: calc(12vw * 1.4135);
}
body[data-character='ragirl'] .character-head {
    left: calc(23 / 948 * 100%);
    width: calc(920 / 948 * 100%);
    height: calc(750 / 1340 * 100%);
}
body[data-character='ragirl'] .character-head__face.face-front { background-image: url('../images/ragirl_head_front.png'); }
body[data-character='ragirl'] .character-head__face.face-back { background-image: url('../images/ragirl_head_back.png'); }
body[data-character='ragirl'] .character-torso {
    left: calc(273 / 948 * 100%);
    top: calc(630 / 1340 * 100%);
    z-index: 50;
    width: calc(402 / 948 * 100%);
    height: calc(444 / 1340 * 100%);
    transform-origin: center center;
}
body[data-character='ragirl'] .character-torso__face.face-front { background-image: url('../images/ragirl_body_front.png'); }
body[data-character='ragirl'] .character-torso__face.face-back { background-image: url('../images/ragirl_body_back.png'); }
body[data-character='ragirl'] .character-arm__right {
    left: calc(134 / 948 * 100%);
    top: calc(709 / 1340 * 100%);
    width: calc(138 / 948 * 100%);
    height: calc(300 / 1340 * 100%);
    transform-origin: right top;
}
body[data-character='ragirl'] .character-arm__right .face-front { background-image: url('../images/ragirl_arm_0_front.png'); }
body[data-character='ragirl'] .character-arm__right .face-back { background-image: url('../images/ragirl_arm_1_back.png'); }
body[data-character='ragirl'] .character-arm__left {
    left: calc(675 / 948 * 100%);
    top: calc(709 / 1340 * 100%);
    width: calc(138 / 948 * 100%);
    height: calc(300 / 1340 * 100%);
    transform-origin: left top;
}
body[data-character='ragirl'] .character-arm__left .face-front { background-image: url('../images/ragirl_arm_1_front.png'); }
body[data-character='ragirl'] .character-arm__left .face-back { background-image: url('../images/ragirl_arm_0_back.png'); }
body[data-character='ragirl'] .character-leg__right {
    left: calc(290 / 948 * 100%);
    top: calc(1075 / 1340 * 100%);
    width: calc(186 / 948 * 100%);
    height: calc(264 / 1340 * 100%);
    transform-origin: center top;
}
body[data-character='ragirl'] .character-leg__right .face-front { background-image: url('../images/ragirl_leg_0.png'); }
body[data-character='ragirl'] .character-leg__right .face-back { background-image: url('../images/ragirl_leg_1.png'); }
body[data-character='ragirl'] .character-leg__left {
    left: calc(474 / 948 * 100%);
    top: calc(1075 / 1340 * 100%);
    width: calc(186 / 948 * 100%);
    height: calc(264 / 1340 * 100%);
    transform-origin: center top;
}
body[data-character='ragirl'] .character-leg__left .face-front { background-image: url('../images/ragirl_leg_1.png'); }
body[data-character='ragirl'] .character-leg__left .face-back { background-image: url('../images/ragirl_leg_0.png'); }


/* button */
.select__character {
    z-index: 100;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 30px;
}

.select__character-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 0;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.select__character-btn-ilbuni {
    background-image: url('../images/ilbuni_head_front.png');
    background-size: 36px auto;
}

.select__character-btn-ragirl {
    background-image: url('../images/ragirl_head_front.png');
    opacity: 0.5;
}

body[data-characteracter="ragirl"] .select__character-btn-ilbuni {
    opacity: 0.5;
}

body[data-characteracter="ilbuni"] .select__character-btn-ilbuni,
body[data-characteracter="ragirl"] .select__character-btn-ragirl {
    opacity: 1;
}


/* Animation */
@keyframes ani-head {
    to { transform: rotateX(-10deg);}
}

@keyframes ani-arm-leg {
    from { transform: rotateX(-30deg);}
    to { transform: rotateX(30deg);}
}